html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Dosis", sans-serif;
  height: 100%;
  width: 100%;
}

button {
  color: white;
  background-color: black;
  font-size: 0.75em;
  letter-spacing: 0.55px;
  padding: 0 0;
  font-weight: 400;
  height: 30px;
  width: 125px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
  transition-duration: 0.5s;
  border: none;
  border-radius: 72px;
  text-align: center;
}

.main-page-container {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.login-modal-background,
.signup-modal-background,
.new-item-modal-background,
.show-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-item-container {
  width: 700px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-item-contents {
  height: auto;
  width: auto;
  color: white;
  font-size: 36px;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-image {
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
}

.modal-subcontainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container,
.signup-form-container,
.new-form-container {
  background: white;
  padding: 20px;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.sign-in-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: black;
}

.logo-container {
  width: 300px;
}

.registration-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.registration-buttons span:hover {
  cursor: pointer;
}

.signup-form-header,
.login-form-header {
  font-size: 30px;
  font-weight: 600;
}

.user-view {
  height: 100%;
  width: 100%;
  display: flex;
}

.new-form-container form {
  display: flex;
  flex-direction: column;
}

input,
select {
  font-family: "Dosis", sans-serif;
}

select {
  margin-top: 5px;
  margin-bottom: 5px;
}

.new-form-container form img {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.login-buttons {
  display: flex;
  justify-content: space-evenly;
}
