.outfit-create-container {
  display: flex;
  width: calc(100vw - 230px);
  padding-top: 50px;
  height: 100%;
}

.canvas-container {
  width: 70%;
  min-width: 600px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

canvas {
  border: 3px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.outfit-items-scrollbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.outfit-create-options {
  height: 50px;
  width: 100%;
}

.test-div {
  height: 100%;
  width: 100%;
}

.outfit-create-options {
  height: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 50px;
}

.outfit-create-options input {
  width: 50%;
  height: 20px;
}

.outfit-button-container {
  width: 30%;
  /* height: 10%; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* .outfit-button-container button {
  display: flex;
  align-self: flex-end;
} */

.outfit-item-slider {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-scroll-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.canvas-header {
  height: 100px;
}

.outfit-item-img-div {
  width: 300px;
  height: 33.33%;
  margin-bottom: 10px;
}