.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
}

.outfit-img {
  /* height: 250px; */
}

.outfit-img:hover {
  cursor: pointer;
}

.sign-out-container {
  height: 10%;
}

.sign-out-container div:hover {
  cursor: pointer;
}